* {
    box-sizing: border-box;
}


body {
    margin: 0;
    background-color: #ebedef;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}


header {
    background: #5d6d7e;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1;
}

#title {
    text-align: center;
    text-transform: uppercase;
    color: white;
}


main {
    margin: 120px 40px 80px;
}

.card {
    background-color: white;
    position: relative;
    padding: 10px 30px;
    margin-bottom: 20px;
    border-radius: 5px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 250px;
}

.bookmark {
    width: 40px;
    height: 40px;
    background-color: transparent;
    border: none;
    border-radius: 50%;
    position: absolute;
    right: -16px;
    top: -13px;
    padding-top: 4px;
    padding-left: 6px;
}

.saved {
    background-color: #f8baea;
}


.answer-button {
    background-color: #7d91a3;
    border: none; 
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.1rem;
    color: white;
    border-radius: 5px;
    width: 100%;
    padding: 8px 0;
}

.answer {
    display: none;
    border: 1.8px solid #f8baea;
    color: #5d6d7e;
    border-radius: 5px;
    width: 100%;
    padding: 5px 0;

}

.tags {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    align-self: flex-start;
}

.tag-items {
    background-color: lightgray;
    border-radius: 5px;
    padding: 5px 10px;
}


footer {
    background-color: #5d6d7e;
    width: 100%;
    height: 50px;
    position: fixed;
    bottom: 0;
    padding: 0 20px;
    list-style: none;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}



.link {
    text-decoration: none;
    color: white;
    font-size: 18px;
    padding-top: 10px;
    text-transform: uppercase;
}


.active {
    background-color: #7d91a3;
    height: 50px;
    padding-left: 10px;
    padding-right: 10px;
}