
.bookmark {
    border: none;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    background: var(--special-bg);
    color: white;
    fill: white;
  }


  .bookmark:hover {
    cursor: pointer;
  }
  
 .bookmark--active svg path {
    color: black;
    fill: black;
    stroke: black;
  }


/* .bookmark__icon {
    width: 2em;
  }  */

