
footer {
    background-color: var(--HF-bg);
    width: var(--width-norm);
    height: 50px;
    position: fixed;
    bottom: 0;
    padding: 0 20px;
    list-style: none;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}


.link {
    text-decoration: none;
    color: var(--font-color1);
    font-size: 18px;
    padding-top: 10px;
    text-transform: uppercase;
}


.link--active {
    background-color: var(--button-bg);
    height: 50px;
    padding-left: 10px;
    padding-right: 10px;
}


/* @media (max-width: 600px) {
    .link {
        display: none;
    };
} */